.recivers div.head {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    width: 644px;
}

.recivers img {
    border: 0px;
    vertical-align: bottom;
}

.recivers table {
    border-collapse: collapse;
    empty-cells: show;
}

.recivers td,.recivers  th {
    font-family: sans-serif;
    border: 1px solid black;
    padding: 3px;
    background-color: #e0e0e0;
}

.recivers td.rx {
    width: 100px;
    text-align: left;
}

.recivers td.sql {
    width: 50px;
    text-align: center;
}

.recivers td.lvl {
    width: 60px;
    padding-right: 8px;
    text-align: right;
}

.recivers td.bar {
    width: 402px;
}

.recivers td.bar div {
    width: 0px;
    height: 10px;
    border: 1px solid black;
    background-color: #808080;
}
